a {
    text-decoration: none;
}

.btn {
    padding: 4px 18px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.blue {
    background: blue;
    color: white;
    border: 1px solid white;

}